<div class="row">
    <div class="col-sm-6">
        <h3>Socials</h3>
        <ul class="icon-list">
            <li><i class="fas fa-envelope"></i> <a href="mailto:{{ .Site.Params.socials.email }}"> {{ .Site.Params.socials.email }}</a></li>
            <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ .Site.Params.socials.twitter }}" target="_blank" rel="noopener"> @{{ .Site.Params.socials.twitter }}</a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/{{ .Site.Params.socials.github }}" target="_blank" rel="noopener"> {{ .Site.Params.socials.github }}</a></li>
            </ul>
    </div>
    <div class="col-sm-6">
        <h3>Event details</h3>
        <ul class="icon-list">
            <li><i class="far fa-calendar-alt"></i> {{ .Site.Params.event.dates }}</li>
            <li><i class="far fa-clock"></i> {{ .Site.Params.event.time }}</li>
            {{ if isset .Site.Params.event "registerlink" }}
            <li><i class="fas fa-sign-in-alt"></i> <a href="{{ .Site.Params.event.registerlink }}" target="_blank" rel="noopener"> Register Here</a></li>
            
            
            {{end}}
        </ul>
    </div>

</div>
