<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr
            class="{{- if .bottomborder }} section-bottom {{- end }}{{- if .header }} fake-header-table {{- end }}{{- if .bg }} schedule-bg-{{ .bg }} {{- end }}">
            <td align="right" style="width:20%;text-align:right">
                <strong>{{ .date }}</strong></td>
            <td style="width:56%;text-align:left">{{ .title}}
                    {{- if .detail1 }}<br><small>{{.detail1}}</small>{{- end }}
                    {{- if .detail2 }}<br><small>{{.detail2}}</small>{{- end }}</td>

            {{- if .header }}
            
            <td style="width:8%;text-align:center" class="mid-table-header">Main</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Track A</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Track B</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Networking</td>

            {{- else }}
            
            {{- if .main }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/sessions/{{ .main }}/">
                    <i class="fas fa-users fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-users fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .room1 }}
            <td align="center" style="width:8%;text-align:center"><a
                    href="{{ .Site.baseurl }}/sessions/{{ .room1 }}/">
                    <i class="fas fa-user-friends fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:8%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-user-friends fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .room2 }}
            <td align="center" style="width:8%;text-align:center"><a
                    href="{{ .Site.baseurl }}/sessions/{{ .room2 }}/">
                    <i class="fas fa-user-friends fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:8%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-user-friends fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .network }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/sessions/{{ .network }}/">
                    <i class="fas fa-network-wired fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-network-wired fa-lg"></i></font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
